@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 500px;
  height: 200px;
  background-color: #add8e6;
  position: relative;
  border-radius: 10px;
  clip-path: polygon(
    0 0, 
    calc(100% - 60px) 0, 
    calc(100% - 60px) 60px, 
    100% 60px, 
    100% 100%, 
    0 100%
  );
  overflow: visible;
}

.container::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: lightblue;
  position: absolute;
  /* border-top-right-radius: 20px;
  border-bottom-left-radius: 20px; */
  top: 0; /* Align with the top */
  border-radius: 0 20px 0 0;
  right: 0; /* Align with the right */
  z-index: -1;
}
